:root {
    --font-heading: 'Noto Sans', sans-serif;
    --font-body: 'Roboto', sans-serif;
    --navy: rgb(34, 87, 122);
    --teal: rgb(54 151 153);
    --turquoise: rgb(87, 204, 153);
    --green: rgb(128, 237, 153);
    --transition-duration: 200ms;
}

*,
::after,
::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    opacity: 0.95;
    line-height: 1;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 25px;
    border-bottom: 2px solid white;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.17rem;
}

p {
    font-size: 22px;
    line-height: 1.25;
    margin-bottom: 15px;
}

body {
    min-height: 100vh;
    width: 100%;
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 35px;
    max-width: 100%;
    transition: box-shadow 200ms ease;
}

#intro-header-fixed {
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    top: 0;
    height: 55px;
    transform: translateY(-100%);
    will-change: transform;
    overflow: hidden;
    background-color: white;
    width: 100vw;
    z-index: 5;
    padding: 5px;
    gap: 5px;
}

#intro-header-fixed.fixed {
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 10%);
}

#intro-header-fixed h1 {
    font-size: 1.5rem;
    margin: 0;
    flex-basis: 450px;
    text-align: start;
}

#intro-header-fixed > div {
    display: contents;
}

#intro-header-fixed .social-row {
    gap: 10px;
}

#intro-header-fixed > img {
    height: 100%;
    width: unset;
}

img.portrait {
    width: 100px;
    border-radius: 50%;
}

#intro {
    margin: 30px;
}

header h1,
header h2 {
    color: var(--navy);
}

#projects {
    background-color: var(--teal);
    color: white;
    padding: 30px;
}

#projects > div {
    max-width: 100%;
    width: calc(60ch + 500px);
    margin: 0px auto;
}

#projects h1 {
    margin-bottom: 20px;
}

#projects h3 {
    margin-left: -8px;
}

#projects h4 {
    margin-bottom: 30px;
}

#projects .project {
    display: flex;
    flex-flow: row nowrap;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 65px;
}

#projects .project img.project-img,
#projects .project video.project-img {
    border-radius: 20px;
    width: 400px;
}

#projects .project:nth-of-type(2n + 1) > :last-child {
    order: -1;
}

#projects p {
    opacity: 0.95;
}

#projects > p {
    max-width: 50ch;
    margin-left: auto;
    margin-right: auto;
}

#projects .social {
    color: white;
}

#projects a {
    color: white;
}

header div h1 {
    font-size: clamp(30px, 4vw, 48px);
}

.social {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
    padding: 5px 8px;
    border-radius: 5px;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    transition: background-color var(--transition-duration) ease;
}

.social.inline {
    position: relative;
    display: inline;
    margin-right: -8px;
    margin-left: -4px;
    vertical-align: baseline;
    white-space: nowrap;
    z-index: 1;
}

.social.inline :where(svg, img) {
    height: calc(1em + 3px);
    width: calc(1em + 3px);
    vertical-align: text-top;
}

.social:focus,
.social:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.social:active {
    background-color: rgba(0, 0, 0, 0.2);
}

#email-link {
    color: rgb(211, 56, 56);
}

#github-link {
    color: black;
}

#linkedin-link {
    color: #0b65c2;
}

#resume-link {
    color: var(--teal);
}

div.social-row {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    margin-left: -15px;
    font-size: 24px;
}

p.background {
    max-width: 55ch;
    margin: 20px auto;
    opacity: 0.85;
    line-height: 1.5;
}

p.background .social {
    color: black;
}

p.background:first-of-type {
    margin-top: 30px;
}

@media only screen and (max-width: 900px) {
    #projects h1 {
        margin-bottom: 40px;
    }
    #projects .project {
        flex-direction: column;
        gap: 0px;
    }
    #projects .project img.project-img,
    #projects .project video.project-img {
        max-width: 100%;
    }
    #projects .project > a {
        align-self: center;
    }
    #projects .project > :last-child {
        order: -1;
        align-self: flex-start;
    }
}

@media only screen and (max-width: 800px) {
    p.background:first-of-type {
        margin-top: 20px;
    }
    header {
        gap: 10px;
        flex-flow: column nowrap;
        text-align: center;
    }
    header div.social-row {
        gap: 30px;
        margin-left: -5px;
    }
    header .social {
        width: 40px;
        overflow: hidden;
        padding: 5px 5px;
    }
    header .social svg,
    header .social img {
        flex: 1 0 30px;
        width: 30px;
    }
}

@media (max-width: 415px) {
    #intro-header-fixed h1 {
        font-size: 1.1rem;
    }
}

@media (max-width: 300px) {
    #intro-header-fixed img {
        display: none;
    }
}
